*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;

}
.container{
    display: table;
    position: relative;
    min-height: 800px;
    justify-content: space-between;
    align-items: left;
    flex-wrap: wrap;
    

}
.container .image{
    
    left: 844px;
    width: 596px;
    height: 628px;
    position: absolute;
    bottom: 530px;
    right: 0px;
    /* UI Properties */
    background: transparent url('img/Group 12310.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.container .card{
    position: relative;
    max-width: 750px;
    margin: 10px;
    padding: 15px;
    /* display: flex; */
}
.container .card .imgbx{
    max-width: 74px;
    position: relative;
    bottom: 330px;
    right: 0px;
    /* flex: 0 0 150px; */
}
.container .card .imgbx img{
    max-width: 100%;
    position: absolute;
    top: 5px;
    left: 0px;
    width: 74px;
    height: 74px;
    padding-left: 0px;
    /* UI Properties */
    /* background: transparent url('img/Group 12311.png') 0% 0% no-repeat padding-box;
    opacity: 1;  */
}
.container h3{
    top: 1930px;
    left: 11px;
    width: 290px;
    height: 22px; 
    
    
    /* UI Properties */
    font-size: 20px;
    text-align: left;
    font: normal normal 600 20px/24px Gilroy ☞;
    letter-spacing: 0.2px;
    color: #000000;
    opacity: 1;
    padding-left: 100px;
    padding-bottom: 12px;
}
.container .card .imgbx p{
    top: 1970px;
    left: 11px;
    width: 469px;
    height: 83px;
    
    /* UI Properties */
    font-size: 18px;
    text-align: left;
    font: normal normal medium 18px/27px Gilroy ☞;
    letter-spacing: 0.09px;
    color: #707070;
    opacity: 1;
    font-size: 18px;
    padding-left: 100px;
    
}

@media screen and (max-width: 800px){
    .container, .container .image, .container .card, .container .card .imgbx, .container .card .imgbx img,  
    .container .card .imgbx p{
        max-width: 100%;
        
    }
}
